<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="pathsSection" type="BudgetForecast.Config.PathSection, BudgetForecast, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <pathsSection>
    <paths>
      <add host="EUROPA" value="D:\Users\Ángel\Documents\Banca\Money\misCuentas.mmb" />
      <add host="TINY" value="Y:\Mis Documentos (Europa)\Banca\Money\misCuentas.mmb" />
      <!--<path name="db" host="PUFF" value="Y:\Mis Documentos (Europa)\Banca\Money\misCuentas.mmb" />-->
    </paths>
  </pathsSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>